// jozi-morning color scheme for cosmic-term
// https://github.com/kmf/jozi-city-nights

(
    name: "jozi-morning",
    foreground: Some("#343b58"),
    background: Some("#d5d6db"),
    cursor: Some("#a0135b"),
    bright_foreground: Some("#1f2335"),
    dim_foreground: Some("#3f4d7d"),

    black: Some("#343b58"),
    red: Some("#a0135b"),
    green: Some("#156031"),
    yellow: Some("#6a4f00"),
    blue: Some("#3b30e2"),
    magenta: Some("#7928a8"),
    cyan: Some("#145a70"),
    white: Some("#c8c9d1"),

    bright_black: Some("#3f4d7d"),
    bright_red: Some("#a0135b"),
    bright_green: Some("#156031"),
    bright_yellow: Some("#6a4f00"),
    bright_blue: Some("#3b30e2"),
    bright_magenta: Some("#7928a8"),
    bright_cyan: Some("#145a70"),
    bright_white: Some("#343b58"),

    dim_black: Some("#4a5070"),
    dim_red: Some("#ab1462"),
    dim_green: Some("#126b3b"),
    dim_yellow: Some("#9d7300"),
    dim_blue: Some("#3f38b8"),
    dim_magenta: Some("#612086"),
    dim_cyan: Some("#06748e"),
    dim_white: Some("#9699a3"),
)
